.nav-custom {
  padding-left: 10px;
}

main {
  display: flex;
  flex-direction: column;
  align-content: center;
}

h2 {
  text-align: center;
}

.btn-edit-post {
  align-self: flex-end;
  margin-top: 20px;
}

.post-image {
  max-width: 300px;
  border-radius: 10px;
}

.user-container {
  display: flex;
  padding: 10px;
  margin-bottom: 20px;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-size: 1.2em;
}

.user-image {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.post-title-edit-form {
  font-weight: bold;
  color: teal;
}

.user-info-all-posts-view {
  display: flex;
}

.user-info-all-posts-view img {
  width: 40px;
  height: 40px;
  margin: 0 10px 10px 0;
}
